# System files
.DS_Store

# Object files
*.o

# Compiled files
*.out
*.exe
*.a

# Executables
BraiiiiiiinnnzzzZ
zombieHorde
brain
violence
sed
harl
harlFilter

# Temp files
*.swp
bin
bin_bonus
.vscode
test
logs
*.log

# Environment files
.env